{% extends "base.html" %}

{% block greeting %}
    Welcome to FIRST<sup>&reg;</sup> LEGO<sup>&reg;</sup> League.
{% endblock %}

{% block content %}
<div class="container group">
    <form id="fll-signup-form" action="/registration" method="post">
        <h2><span class="step-number">1</span>Student Info</h2>
        {% for x in range(5) %}
            {% if x == 0 %}
                <fieldset id="student-{{ x+1 }}">
                        <legend>Student</legend>
            {% else %}
                <fieldset id="student-{{ x+1 }}" class="hidden sub-form">
                        <legend>Student {{ x+1 }}</legend>
            {% endif %}

                <div class="input-group two-fifths">
                    <label for="student-fname-{{ x }}">First Name</label>

                    <input id="student-fname-{{ x }}" type="text" name="student-fname-{{ x }}">
                </div>

                <div class="input-group two-fifths">
                    <label for="student-lname-{{ x }}">Last Name</label>

                    <input id="student-lname-{{ x }}" type="text" name="student-lname-{{ x }}">
                </div>
                
                <div class="input-group three-fifths">
                    <label for="student-email-{{ x }}">Email</label>

                    <input id="student-email-{{ x }}" type="text" name="student-email-{{ x }}">

                    <p class="note three-fifths"><strong>Note:</strong> By entering an email you are granting GGFRC permission to send club emails directly to your student. The primary contact will <em>always</em> receive copies of these emails. There are <em>no exceptions</em>.</p>
                </div>
            </fieldset>
        {% endfor %}
        <div class="repeatable-control">
            <input id="students" type="hidden" name="students" value="1"/>
            <button 
                class="add-repeatable-section" 
                title="Add Student" 
                data-max="5" 
                data-counter="#students" 
                data-section-prefix="student-" 
                type="button">Add Student</button>
            <button 
                class="remove-repeatable-section" 
                title="Remove Student" 
                data-min="1" 
                data-counter="#students" 
                data-section-prefix="student-" 
                type="button">Remove Student</button>
        </div>

        <h2><span class="step-number">2</span>Contact Info</h2>
        <fieldset>
            <legend>Parent / Guardian <small>( Primary Contact )</small></legend>
                
            <div class="input-group two-fifths">
                <label for="parent-fname">First Name</label>

                <input id="parent-fname" type="text" name="parent-fname">
            </div>

            <div class="input-group two-fifths">
                <label for="parent-lname">Last Name</label>

                <input id="parent-lname" type="text" name="parent-lname">
            </div>

            <div class="input-group one-fourth">
                <label for="parent-phone">Emergency Phone Number</label>

                <input id="parent-phone" type="text" name="parent-phone">

                <p class="note"><strong>Note:</strong> In the event of an emergency we will call this number.</p>
            </div>

            <div class="input-group three-fifths">
                <label for="parent-email">Email</label>

                <input id="parent-email" type="text" name="parent-email">

                <p class="note"><strong>Note:</strong> This will be the main point of contact for you.</p>
            </div>

            <div class="input-group three-fifths">
                <label for="referral">How did you hear about us?</label>

                <textarea id="referral" type="text" name="referral" rows="8" cols="40"></textarea>
            </div>
        </fieldset>

        <fieldset>
            <legend>Alternate Contact</legend>

            <div class="input-group two-fifths">
                <label for="alternate-fname">First Name</label>

                <input id="alternate-fname" type="text" name="alternate-fname">
            </div>

            <div class="input-group two-fifths">
                <label for="alternate-lname">Last Name</label>

                <input id="alternate-lname" type="text" name="alternate-lname">
            </div>

            <div class="input-group one-fourth">
                <label for="alternate-phone">Emergency Phone Number</label>

                <input id="alternate-phone" type="text" name="alternate-phone">
            </div>

            <div class="input-group three-fifths">
                <label for="alternate-email">Email</label>

                <input id="alternate-email" type="text" name="alternate-email">
            </div>
        </fieldset>
        <button type="submit">Onward! →</button>
    </form>
</div>
{% endblock %}
