{% extends "base.html" %}

{% block greeting %}
    Welcome to FIRST&reg; LEGO&reg;&nbsp;League.
{% endblock %}

{% block content %}
<form id="fll-signup-form" action="/registration" method="post">
    <h2><span class="step-number">1</span>Student Info</h2>
    {% for x in range(5) %}
        <fieldset>
            {% if x == 0 %}
                <legend>Student</legend>
            {% else %}
                <legend>Student {{ x+1 }}</legend>
            {% endif %}

            <div class="input-group">
                <label for="student-fname-{{ x }}">First Name</label>

                <input id="student-fname-{{ x }}" type="text" name="student-fname-{{ x }}">
            </div>

            <div class="input-group">
                <label for="student-lname-{{ x }}">Last Name</label>

                <input id="student-lname-{{ x }}" type="text" name="student-lname-{{ x }}">
            </div>
            
            <div class="input-group">
                <label for="student-email-{{ x }}">Email</label>

                <input id="student-email-{{ x }}" type="text" name="student-email-{{ x }}">
            </div>
        </fieldset>
    {% endfor %}
    <h2><span class="step-number">2</span>Contact Info</h2>
    <fieldset>
        <legend>Parent/Guardian</legend>
            
        <div class="input-group">
            <label for="parent-fname">First Name</label>

            <input id="parent-fname" type="text" name="parent-fname">
        </div>

        <div class="input-group">
            <label for="parent-lname">Last Name</label>

            <input id="parent-lname" type="text" name="parent-lname">
        </div>
    </fieldset>
    <fieldset>
        <legend>Contact</legend>
    </fieldset>
    <button type="submit">Onward!</button>
</form>
{% endblock %}
