<!DOCTYPE html>
<html>
<head>

    {% if page_title is defined %}
        {% set page_title = page_title + " | " %}
    {% else %}
        {% set page_title = "" %}
    {% endif %}

    <title>{{ page_title }}Greater Grand Forks Robotics Club</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/foundation.min.custom.css') }}"
        type="text/css"
        media="screen"
        title="no title"
        charset="utf-8">

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/global.min.css') }}"
        type="text/css"
        media="screen"
        title="no title"
        charset="utf-8">
</head>
