body {
    background: url('../img/escheresque-bg.png');
    color: #545454;
}

a {
    color: inherit;
    text-decoration: none;
}

#header {
    background: #6A9988;
    border-bottom: 5px solid #545454;
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 100%;
}

#greeting {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding: 25px;
}

#greeting h1 {
    font-size: 3rem;
    line-height: 115%;
    margin: 0 0 25px;
    text-align: center;
    width: 100%;
}

.mailing-list,
.fll-signup {
    box-sizing: border-box;
    float: left;
    padding: 0 25px;
    width: 50%;
}

hr {
    border: 0;
    height: 2px;
    background-color: #6A9988;
    max-width: 500px;
}

label[for="mce-EMAIL"],
.fll-signup p {
    color: #6A9988;
    display: block;
    font-size: 23px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 100%;
}

.fll-signup p {
    margin-top: 0;
    margin-bottom: 0;
}

input[type="email"],
input[type="submit"],
.fll-signup a {
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 10px 20px;
    outline: 0;
}

.fll-signup a {
    width: 188px;
}

input[type="email"] {
    max-width: 500px;
    width: 100%;
}

input[type="submit"],
.fll-signup a {
    background: rgba(0,0,0,0);
    border: 4px solid #C0C0C0;
}

input[type="submit"]:hover,
.fll-signup a:hover {
    background: #C0C0C0;
}

/* Utility Classes */

.group:after {
    content:"";
    display:table;
    clear:both;
}

/* Media Queries */

@media screen and (max-width: 800px) {
    .mailing-list,
    .fll-signup {
        clear: left;
        padding: 0;
        width: 100%;
    }

    .fll-signup {
        margin-top: 50px;
    }
}
