<!DOCTYPE html>
<html>
<head>
    <title>Greater Grand Forks Robotics Club</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.min.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id="header">
        <a class="logo" href="{{ url_for('home') }}"><img class="logo" src="{{ url_for('static', filename='img/ggfrc-logo-white.svg') }}" alt="ggfrc logo"></a>
    </div>
    <div id="greeting">
        <h1>
            {% block greeting %}

            {% endblock %}
        </h1>
        <hr>
    </div>
    {% block content %}

    {% endblock %}
    <div id="footer" class="group">
        <p>&copy; 2014. Greater Grand Forks Robotics Club</p>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/global.min.js') }}"></script>
    <script type="text/javascript">
      fitText(document.getElementById('fittext1'), 1.1)
    </script>
</body>
</html>
