<!DOCTYPE html>
<html>
<head>
    <title>Greater Grand Forks Robotics Club</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.custom.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.min.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id="svg-defs"></div>

    <!-- Top Bar -->
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <a href="#"><svg><use xlink:href="#shape-ggfrc-logo-white" /></svg></a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#">League</a></li>
          <li><a href="#">Club</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </section>
    </nav>

    <div id="greeting">
        <h1>
            {% block greeting %}

            {% endblock %}
        </h1>
        <hr>
    </div>
    {% block content %}

    {% endblock %}
    <div id="footer" class="group">
        <p>&copy; 2014. Greater Grand Forks Robotics Club</p>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/fastclick.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/global.min.js') }}"></script>
    <script type="text/javascript">
        $(document).foundation();
        $("#svg-defs").load("{{ url_for('static', filename='svg/svg-defs.svg') }}");
    </script>
</body>
</html>
