{% extends "base.html" %}

{% block greeting %}
We're glad you're here.<br>
And so are the robots.
{% endblock %}

{% block content %}
    <div class="container group">
        <div class="left-about">
            <h2>About GGFRC</h2>


            <div class="mailing-list">
                <div id="mc_embed_signup">
                    <form action="http://ggfrc.us8.list-manage.com/subscribe/post?u=667f8798d4954ac7106d77b28&amp;id=b39fbd60bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <label id="fittext2" for="mce-EMAIL">Would you like to subscribe to our mailing list?</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_667f8798d4954ac7106d77b28_b39fbd60bc" tabindex="-1" value=""></div>

                        <div>
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="fll-about">
            <h2>FIRST<sup>&reg;</sup> LEGO<sup>&reg;</sup> League</h2>

            <div class="fll-signup">

                <p>It is that time again for Lego League! This years competition is Trash Trek.
                    <a href="http://goo.gl/forms/9j2KIi6KPW">Sign-up Here!</a>
                </p>
                <p>FLL (First Lego League) is a structured competition program
                    that runs from the beginning of October to early February.
                    It will require a significant commitment from the student
                    to meet with their group and complete assignments every
                    week.  FLL is a program in which a student learns robotics,
                    researching, presentation, teamwork and other important
                    skills, both S.T.E.M. and life related.</p>

                <p>FFL requires that the student be at least 9 years old by the
                    dates of the regional competition (February 6th, 2016) but not
                    older than 14 years old at the start of the challenge release
                    date (August 25th, 2015) .  i.e. - Age Requirement: 9 - 14
                    While we would love to have every age-appropriate student
                    participate in FLL we are limited by funding, coaches, and
                    meeting space.  This year we are offering 5 teams with a
                    tentative maximum of 5 students per team (35 students total).</p>

                <p>Unfortunately this means that your registration does not
                    guarantee your student's placement on a team.</p>

                <p>Students will be placed on teams through a variety of
                    criteria such as: age, previous experience, parental
                    involvement, time of registration, etc...  The
                    administrating body of the GGFRC, made up of coaches, will
                    make the final decisions on the composition of the teams
                    that provide the best opportunities for the students to
                    learn, grow and succeed.  </p>

                <p><a href="mailto:ggfroboticsclub@gmail.com">Contact Us!</a></p>
            </div>

        </div>

    </div>
{% endblock %}
