{% extends "base.html" %}

{% block greeting %}
We're glad you're here.<br>
And so are the robots.
{% endblock %}

{% block content %}
    <div class="container group">
        <div class="left-about">
            <h2>About GGFRC</h2>


            <div class="mailing-list">
                <div id="mc_embed_signup">
                    <form action="http://ggfrc.us8.list-manage.com/subscribe/post?u=667f8798d4954ac7106d77b28&amp;id=b39fbd60bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <label id="fittext2" for="mce-EMAIL">Would you like to subscribe to our mailing list?</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_667f8798d4954ac7106d77b28_b39fbd60bc" tabindex="-1" value=""></div>

                        <div>
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="fll-about">
            <h2>FIRST<sup>&reg;</sup> LEGO<sup>&reg;</sup> League</h2>

            <div class="fll-signup">
                <p>Are you interested in signing up for FIRST<sup>&reg;</sup> LEGO<sup>&reg;</sup> League?</p>
                <div>
                    <a href="https://docs.google.com/forms/d/1GyMX0Oo7IHDaAfCJVL73DHLyROecXvbdvZkBoOpqyIU/viewform">Absolutely!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
