body, html {
    height: 100%;
    color: #545454;
    background: #ccc;
    font-size: 16px;
}

.hero {
    background-repeat: no-repeat;
    background-position:  100% 100%;
    background-image: url("../img/ggfrc-bg.min.png");
    padding: 200px 0 140px 0;
    /*margin-bottom: 70px;*/
    /*margin-top: -60px;*/
    height: 100%;
    text-align: center;

    h1 {
        font-size: 2em;
        color: #fff;
        margin-bottom: 30px;
        text-shadow: 0 1px rgba(0,0,0,.5);
    }

    h2 {
        font-size: 1.0em;
        color: #777;
        margin-bottom: 30px;
    }

    .lead {
        width: 100%;
        color: #999;
        text-align: center;
    }

    .lead:nth-of-type(2) {
        margin-bottom: 50px;
    }

    .lead:nth-of-type(3) {
        font-size: 1rem;
    }
}


.fll-logo {
    background: rgba(255, 255, 255, .4);
    padding: 5%;
    width: 100%;
}

.btn {
    color: inherit;
    border: solid 2px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 12px 22px;
    display: inline-block;
}
.btn:hover {
    background-color: white;
    border-color: white;
    color: #6A9988;
}

hr {
    border: 0;
    height: 2px;
    background-color: #6A9988;
}

#footer {
    background-repeat: no-repeat;
    background-position:  0% 10%;
    background-image: url("../img/ggfrc-bg.min.png");
    background-color: #ddd;
    padding-top: 20px;

    #copyright {
        p {
            text-align: right;
            font-size: .75rem;

            @media screen and (max-width: 64em) {
                text-align: center;
            }
        }
    }
}

/* Utilities */

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

sup {
    font-size: 50%;
    top: -7px;
}

